.section5{
    background:#f2f4f6;
    font-family: system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
    .wrapper{
        width:50%;
        padding:3rem 0px;
        margin:0 auto;
        .text{
            text-align: center;
            padding:10% 0px;
            h1{
                font-size: 2rem;
                font-weight: 500;
                color:#1d2029;
                
            }
            p{
                margin-top: 2.4rem;
                width:100%;
                line-height: 1.5rem;
                font-size:1.1em;
                font-weight: 600;
                color:#4f4f4f;
            }   
        }
        form{
            text-align: center;
        }
    }
}